* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html body {
    background-color: #55bab9;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 0 40px;
    box-shadow: 0px 0px 20px 0px black;
}

nav ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 35px;
    margin: 10px;
    border-radius: 40px;
    opacity: 0.7;

} 

.active {
    color: white;
    background-color: #55BAB9;
}

ul li:hover {
    color: white;
    background-color: #55BAB9;
    transition: 0.5s;
}
